services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: apartment-app
    restart: always
    env_file:
      - .env
    ports:
      - "3002:3002"
    networks:
      - app-network
    image: notcis07/apartment-app:1.0.0

# ประกาศ network ที่มีอยู่แล้ว (External Network)
networks:
  app-network:
    external: true
