services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        # ส่ง DATABASE_URL ไปยัง Dockerfile ในขั้นตอน build
        DATABASE_URL: ${DATABASE_URL}
        # ส่ง BETTER_AUTH_SECRET ไปยัง Dockerfile ในขั้นตอน build
        BETTER_AUTH_SECRET: ${BETTER_AUTH_SECRET}
    container_name: apartment-app
    restart: always
    env_file:
      - .env
    ports:
      - "3002:3002"
    networks:
      - app-network
    image: notcis07/apartment-app:1.0.0

# ประกาศ network ที่มีอยู่แล้ว (External Network)
networks:
  app-network:
    external: true
